*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

body{
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: #333;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}
/* Navbar*/
.navbar{
  background: #fff;
  padding: 20px;
}

.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar  ul li a{
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0,5s;
}

.navbar  ul li a:hover{
  color: var(--primary-color);
  
}

.navbar  ul li :last-child a{
  margin-left: 10px;
}

/*hero*/
.hero{
  margin-bottom: 50px;
}

.hero .container{
  background: url('../images/hero-bg.png') no-repeat;
  background-size: contain;
  background-position: center bottom;
  height:550px;
}

.hero .hero-content{
  width: 70%;
}

.hero .hero-text{
  width: 70%;
  margin-bottom: 20px;
}

.hero .btn i{
  margin-right: 15px;
}

.video{
 padding: 10px 0 40px;
}

.video-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-preview{
  margin-bottom: 20px;
}

/*TESTIMONIALS*/
.testimonials{
  padding: 40px 0;
}

.testimonials .testimonials-heading{
  width: 700px;
  margin-bottom: 40px;
}

.testimonial-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; 
}

.testimonials .card p:nth-child(2){
  margin-top: 30px;
  font-weight: bold;
}


/*pricing*/
.pricing-grid{
 display: grid;
 grid-template-columns: 400px 400px;
 gap: 30px; 
 margin-top: 50px;
 justify-content: center;
 align-items: center;
}

.pricing .pricing-card-subheading{
  margin-bottom: 30px;
}

.pricing .pricing-card-price{
  margin-bottom: 30px;
  padding:20px 0 ;
  border-bottom: 1px solid #ccc;
}

.pricing ul{
  margin: 30px 0;
}

.pricing ul li{
  margin-bottom: 20px;
}

.pricing .pricing-card-body i{
  margin-right: 10px;
}

.pricing .pricing-footer{
  margin: 30px 0;
}

/* FAQ */
.faq{
  padding: 40px 0;
}

.faq .faq-group{
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.faq .faq-group .faq-group-header{
  padding: 20px 0;
  margin-bottom: 15px;
  position: relative;
}

.faq .faq-group .faq-group-header h4{
  font-weight: 600;
  width: 95%;
}

.faq .faq-group .faq-group-header i{
 position: absolute;
 right: 0;
 top: 23px;
 cursor: pointer;
 font-size: 1.1rem;
}

.faq .faq-group .faq-group-body{
  display: none;
}

.faq .faq-group .faq-group-body.open{
  display: block;
}

.faq  ul.faq-menu{
  display: flex;
  max-width: 400px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background: #ddd;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.faq  ul.faq-menu li{
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
}

.faq  ul.faq-menu li.active{
  background: var(--primary-color);
  color: #fff;
}

.footer{
  padding: 40px 0;
}

.footer h4{
 margin: 10px 0;
}

.footer ul li{
  line-height: 2.5;
}

.footer a{
  color: #ccc;
}

.footer .footer-grid{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.footer .card{
  margin: 20px 30px 30px 0;
}


.footer input[type='email']{
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



/* utility classes*/
.container{
 max-width: 1100px;
 margin: 0 auto;
 padding: 0 15px;
}

.container-sm{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
 }

 .card{
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
  
}

 /* Buttons */
 .btn{
  display: inline-block;
  padding: 15px 15px;
  background: var(--light-color);
  border-radius: 20px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  transition: 0.5s;
  border: none;
 }

 .btn:hover{
  opacity: 0.8;
 }

 .btn-primary{
  background: var(--primary-color);
  color: #fff;
 }

 .btn-primary:hover{
  color: #fff;
 }

 .btn-block{
 display: block;
 width: 100%;
 }

 .btn-dark{
  background: var(--dark-color);
  color: #fff;
 }
 
 /* text classes*/

 .text-xxl{
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 40px 0 20px;
 }

 .text-xl{
  font-size: 2.2rem;
  font-weight: normal;
  line-height: 1.4;
  margin: 40px 0 20px;
 }

 .text-lg{
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.4;
  margin: 30px 0 20px;
 }

 .text-lg{
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.4;
  margin: 20px 0 10px;
 }

 .text-sm{
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.4;
  margin: 10px 0 5px;
 }

 .text-center{
  text-align: center;
 }

 /*Background*/

 .bg-primary{
  background: var(--primary-color);
  color: #fff;
 }

 .bg-light{
  background: var(--light-color);
  color: #333;
 }

 .bg-dark{
  background: var(--dark-color);
  color: #fff;
 }

 .bg-black{
  background:#000;
  color: #fff;
 }

 /*hambuger-button*/
 .hambuger-button{
  display: none;
  background: none;
  padding: 10px;
  cursor: pointer;
  border: none;
  z-index: 1000;

 }

.hambuger-button .hambuger-line{
  width: 30px;
  height: 3px;
  margin: 6px 0;
  background: #333;
}

/*mobile-menu*/
.mobile-menu{
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 100;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}

.mobile-menu ul{
  margin-top: 90px;
  padding-right: 20px;
}

.mobile-menu ul li{
  margin-top: 5px;
  padding: 10px ;
}

.mobile-menu ul li a{
  font-size: 20px;
  transition: 0.3s;
}

.mobile-menu.active{
  right: 0;
}

 /*media queries*/
@media (max-width: 960px) {
  .navbar.mobile-menu{
    display: none;
  }
}

@media (max-width: 670px) {
  .navbar .main-menu{
    display: none;
  }

  .hambuger-button{
    display: block;
  }

  .hero .container{
    background: url('../images/hero-bg-mobile.png') no-repeat;
   background-position: bottom;
   background-size: 350px 400px;
   height: 800px;
  }

  .hero .hero-content, .hero .hero-text{
    width: 100%;
    text-align: center;
  }
  
  .hero .hero-button .btn{
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  .testimonials .testimonials-heading{
    max-width: 100%;
    text-align: center;
  }
  
  .testimonials .testimonial-grid, .footer .footer-grid{
    display: grid;
    grid-template-columns: 1fr;
  }

  .pricing .pricing-grid{
   display: grid;
   grid-template-columns: 400px ;
   justify-content: center;
  }

.footer .card{
  margin-right: 0;
}

.footer .footer-grid > div{
  text-align: center;
}

  /*text*/
   .text-xl{
    font-size: 1.9rem;
   }

   .text-lg{
    font-size: 1.5rem;
   }

   .text-md{
    font-size: 1.1rem;
   }
}

@media (max-width: 500px) {

}

